---
layout: archive
---

{{ content }}

{% for category in site.categories %}
  <div class="archive-group">
    <h2 id="{{ category[0] | slugify }}" class="archive__subtitle">{{ category[0] }}</h2>
    <div class="entries-list">
      {% for post in category[1] %}
        <div class="list__item">
          <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
            <h3 class="archive__item-title" itemprop="headline">
              <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
            </h3>
          </article>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}